@keyframes btn_hover {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

@keyframes drop_list {
    from{
        opacity: 0;
    }
    to{ 
        opacity: 1;
    }
}

@keyframes banner_next {
    from{
        transform: translateX(25%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes banner_previous {
    from{
        transform: translateX(-25%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes category_card {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1)
    }
}

@keyframes scroll_top {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
} 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
}
}

@keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
} 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
} 
}
